body {
  padding: 50px;
}
.search-form {
  display: flex;
  align-items: center;
  margin-left: 50%;
  margin-right: 50%;
  padding-top: 30px;
  padding-bottom: 30px;
}
.submit-btn {
  height: 30px;
  margin-left: 10px;
  border-radius: 4px;
}
.search-input {
  width: 200px;
  height: 45px;
}
.load-more {
  width: 100px;
  margin-left: 50%;
  margin-right: 50%;
}
