.search-form {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 45%;
  background-color: blue;
  margin-bottom: 40px;
}
.submit-btn {
  height: 30px;
  margin-left: 10px;
  border-radius: 4px;
  border-color: black;
}
.search-input {
  width: 200px;
  height: 45px;
}
.load-more {
  font-size: 34px;
  background-color: cyan;
  margin-left: 50%;
  margin-top: 40px;
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  margin-right: -30px;
  margin-bottom: -30px;
}
.photo-card {
  flex-basis: calc((100% - 4 * 30px) / 4);
  margin-left: 30px;
  margin-bottom: 30px;
  border: solid 1px;
  border-color: coral;
}
.image {
  width: 100%;
}
.info {
  display: flex;
}
.info-item {
  margin-left: 10px;
}

.hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
