.search-form {
  display: flex;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
}
.submit-btn {
  height: 30px;
  margin-left: 10px;
  border-radius: 4px;
  border-color: black;
}
.search-input {
  width: 200px;
  height: 45px;
}
.load-more {
  width: 100px;
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  margin-right: -30px;
  margin-bottom: -30px;
}
.photo-card {
  flex-basis: calc((100% - 4 * 30px) / 4);
  margin-left: 30px;
  margin-bottom: 30px;
}
/* .photo-card:not(:nth-child(4n)) {
  
} */
.image {
  width: 100%;
}
.info {
  display: flex;
}
.info-item {
  margin-left: 10px;
}
